<a href="javascript:history.back()">
  <svg class="icon-arrow-left" aria-hidden="true" focusable="false">
    <use xlink:href="#icon-arrow-left"/>
  </svg>
</a>

<div>
<h1 class="abstandimpressum">
  Impressum
</h1>

<h3>
  Ein Projekt des Studiengangs ON18
</h3>

  <p>DHBW Mosbach<br>
  Fachbereich Onlinemedien<br>
  Lohrtalweg 10<br>
  74821 Mosbach<br><br></p>

  <a class="link" href="https://www.mosbach.dhbw.de" target="_blank" title="Website DHBW Mosbach">
    https://www.mosbach.dhbw.de
  </a>

  <br><br>

  <p>Von: Julia Fischinger, Lena Götzinger, Berivan Saricicek Ronja Walter, Kim Wehnes, Nathalie Wiesler</p>

  <br><br>

  <p>Mit Dank an Natascha Lejoly und Melanie Fütterer für die Unterstützung!</p>
</div>
