<div class="wrapper-card">
  <div class="intro-wrapper image-gradient">
    <svg aria-hidden="true" focusable="false">
      <use xlink:href="#icon-star"/>
    </svg>
    <img class="img-probleme" alt="Beschreibung des Problems" src="https://images.unsplash.com/photo-1602262442764-c14f8db98045?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"/>
    <app-upvote-button></app-upvote-button>
    <div class="wrapper-main-infos-challenge">
      <div class="wrapper-challengesetter">
        <img class="img-challengesetter" alt="Veranstalter" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Stadt-Essen-Logo.svg/600px-Stadt-Essen-Logo.svg.png">
        <p class="p-info name-challengesetter">Stadt Essen</p>
      </div>
      <p class="location-challenge"> Stadt, Straße Hausnummer · <span>Kategorie</span></p>
      <h3 class="titel-challenge"> Titel der Challenge</h3>
    </div>
    <div class="image-gradient-challenge">
    </div>
  </div>

  <div class="wrapper-detail-infos">
    <div class="detail-infos-element">
      <svg aria-hidden="true" focusable="false">
        <use xlink:href="#icon-calendar"/>
      </svg>
      <p class="text-detail-challenge">DD.MM.YYYY</p>
    </div>
    <div class="detail-infos-element">
      <svg aria-hidden="true" focusable="false">
        <use xlink:href="#icon-clock"/>
      </svg>
      <p class="text-detail-challenge">09:30 Uhr</p>
    </div>
    <div class="detail-infos-element">
      <svg class="icon-vertical" aria-hidden="true" focusable="false">
        <use xlink:href="#icon-challenge"/>
      </svg>
      <p class="text-detail-challenge">5</p>
    </div>
  </div>
  <hr class="card-challenge-hr">
</div>
