@import "src/sass/styles.scss";

.wrapper-card{
  margin-bottom: 1.5em;
}
.intro-wrapper{
  position: relative;
}
.icon-star{
  width: 30px ;
  height: 29px;
  position: absolute;
  z-index: 2;
  top: 0.75em;
  left:0.75em;
}
.wrapper-detail-infos{
  justify-content: space-between;
  svg{
    width: 1.2em;
    height: 1.5em;
    margin-top: 0.2em;
    margin-right: 0.25em;
    stroke: #3333;
    fill: #3333;
  }
  .icon-vertical{
    width: 16px;
    height: 20px;
  }
}

@media (min-width: 400px) {
  .wrapper-detail-infos{
    max-width: 80%;
    color: 1px red;
  }
}

.detail-infos-element{
  display: flex;
  margin-right: 1em;
}
.text-detail-challenge{
  margin: 0;
}
.img-probleme{
  width:100%;
  height: 14em;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}
.location-challenge{
  margin: 0.6em 0 0 0;
  color: white;
}
.category-card-Umwelt{
  color: $color-minze-umwelt;
}
.category-card-Vandalismus{
  color: $color-lilie-vandalismus;
}
.category-card-Barrierefreiheit{
  color: $color-orange-barrierefrei;
}
.titel-challenge{
  margin-top: 0.25em;
  color: white;
}
.wrapper-detail-infos{
  display: flex;
  margin: 1em 0;
}
.card-challenge-hr{
  border: 0.5px solid $color-grey-5;
}
.wrapper-challengesetter{
  display: inline-flex;
  background-color: rgba($color: #333, $alpha: 0.5);
  border: 1px solid white;
  border-radius: 14px;
  height: 1.5em;
  width: auto;
}
.img-challengesetter{
  width: 1.6em;
  height: 1.6em;
  margin: -1px 0 0 -1px;
  border-radius: 1.5em;
}
.name-challengesetter{
  margin:0.2em 0.5em 0.1em 0.5em;
  color: white;
}
.wrapper-main-infos-challenge{
  position: absolute;
  z-index: 2;
  bottom: 0.75em;
  left:0.75em;
}
.image-gradient-challenge{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  width: 100%;
  height: 14em;
  position: absolute;
  top: 0;
  z-index: 1;
}
