<div class="create-problem-container">
  <div class="create-problem-legende">
    <svg aria-hidden="true" class="icon-close-cross" focusable="false">
      <use xlink:href="#icon-close-cross" />
    </svg>
    <label class="create-problem-label">Problem hinzufügen</label>
  </div>
  <hr class="hr-head" />
<app-form-divider></app-form-divider>

<div class="edit-problem-content">
  <div class="edit-problem-image-wrapper">
    <img
      src="https://dummyimage.com/600x400/000/fff"
      class="edit-problem-image"
    />
    <div class="edit-problem-image-gradient"></div>
  </div>

  <!--Eingabe-->

<form [formGroup]="problemForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="mb-3">
    <label>Titel</label>
    <input type="text" formControlName="title" placeholder="Gib deinem Problem ein Titel" class="form-control" required>
  </div>

<app-form-divider></app-form-divider>

  <div class="mb-3">
    <label>Beschreibung</label>
    <input type="text" formControlName="description" placeholder="Beschreibe dein Problem" class="form-control" required>
  </div>

<app-form-divider></app-form-divider>

  <div class="create-button-wrapper">
    <select class="dropdown button-left" formControlName="category" required>
      <option value="Barrierefreiheit" selected>Barrierefreiheit</option>
      <option value="Vandalismus">Vandalismus</option>
      <option value="Umwelt">Umwelt</option>
    </select>
    <button class="button-primary">Speichern</button>
  </div>
</form>
