@import "src/sass/styles.scss";

:host{
  max-width: 26em;
  display: block;
  margin: $xxl-spacing auto $xl-spacing auto;
  padding: 0 1.25em;
  display: flex;
  justify-content: center;
  flex-direction:column;
}

.dropdown {
  //Position
  position: relative;
  display: flex;

  //Size
  width: 20em;
  height: 2.625;
  border-radius: 0.25em;
  padding:  0.875em;

  //Color
  background: $color-white;
  border: 1px solid $color-grey-4;
  color: $color-primary;

  //Remove Default Active Styling
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background-image: none;
  overflow: hidden;

  //Icon
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");

  //Icon Positionierung
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 10px;
}




