<div class="popover-wrapper" id="teilnehmen-popup">
  <div class="background-blur"></div>
  <div class="popover-content">
    <div class="popover-content-wrapper">
      <div>
        <svg aria-hidden="true" focusable="false" onclick="closeTeilnehmen();">
          <use xlink:href="#icon-close-circle" />
        </svg>
      </div>
      <!--  <img src = '../src/assets/img/calendar.png' alt="" /> -->
      <h2>Jetzt Anmelden</h2>
      <p>
        Stelle eine kurze Anfrage an den Veranstalter
        <b>{{ challenge.setter }}</b>
      </p>
      <p>Er wird sich umgehend mit dir in Verbindung setzen</p>
      <a id="sendTeilnehmenMail" onclick="sendMail();" href="">
        <button class="button-primary">Absenden</button>
      </a>
    </div>
  </div>
</div>
<div class="popover-wrapper" id="socialpoints-popup">
  <div class="background-blur"></div>
  <div class="popover-content">
    <div class="popover-content-wrapper">
      <div>
        <svg aria-hidden="true" focusable="false" onclick="closeExplainSocialPoints();">
          <use xlink:href="#icon-close-circle" />
        </svg>
      </div>
      <!--  <img src = '../src/assets/img/calendar.png' alt="" /> -->
      <h2>Was sind Social Points?</h2>
      <p>Social Points bekommst du von uns als <b>Dankeschön</b>, dass du deine Stadt verbessert hast. Die Zahl sagt, wie viele Social Points du erhalten kannst. Mit den Social Points bekommst du <b>Vergünstigungen</b> bei deinen lokalen Einzelhändlern.</p>
      <button class="button-primary">Verstanden</button>
    </div>
  </div>
</div>
<div class="wrapper-galerie">
  <a href="javascript:history.back()">
    <svg class="icon-close-circle" aria-hidden="true" focusable="false">
      <use xlink:href="#icon-close-circle" />
    </svg>
  </a>
  <div
    id="upvote-button"
    class="upvote-button-wrapper"
    onclick="openComingSoon()"
  >
    <div class="number-upvote">
      {{ challenge.votes }}
    </div>
    <p class="text-upvote">{{ challenge.statusvotes }}</p>
  </div>
  <img
    class="img-gallery"
    alt="Bild vom Problem"
    src="{{ challenge.downloadURL }}"
  />
</div>

<hr class="callengetime-divider" />

<div class="delete-challenge-info">
  <svg aria-hidden="true" focusable="false">
    <use xlink:href="#icon-info" />
  </svg>
  <div>
    <h3>{{ challenge.eventDate }}</h3>
    <label>Datum</label>
  </div>
  <div>
    <h3>{{ challenge.eventTime }}</h3>
    <label>Uhrzeit</label>
  </div>
</div>
<hr />

<div class="category category-umwelt">
  <svg aria-hidden="true" focusable="false">
    <use xlink:href="#icon-umwelt" />
  </svg>
  <p class="category-label">{{ challenge.category }}</p>
</div>
<h1 class="headline-problem-detail">{{ challenge.title }}</h1>
<!--<p id="contactemail"> {{ challenge.contactmail }}</p>-->
<div class="wrapper-problem-achievement">
  <button class="button-primary" onclick="teilnehmen();">Teilnehmen</button>
  <div class="achievement" onclick="openExplainSocialPoints()">
    <svg aria-hidden="true" focusable="false" class="ribbon">
      <use xlink:href="#ribbon" />
    </svg>
    <p class="number-achievement">{{ challenge.socialpoints }}</p>
  </div>
</div>
<p class="detail-problem-description">{{ challenge.description }}</p>
<hr />
<div class="wrapper-problemcreator">
  <div class="problemcreator">
    <img
      class="profilepicture"
      alt="profilepicture"
      src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80"
    />
    <p>{{ challenge.setter }}</p>
  </div>
  <!--   <p>{{ challenge.date }}</p>-->
</div>
<hr />
<!--
<div class="section-2">
  <hr />
  <h2 class="heading-3">Weitere Challenges Test</h2>
  <app-card-challenge
    [titleChallenge]="challenge.title"
    [descriptionChallenge]="challenge.description"
    [categoryChallenge]="challenge.category"
    [setterChallenge]="challenge.setter"
    [locationChallenge]="challenge.location"
    [dateChallenge]="challenge.date"
    [socialpointsChallenge]="challenge.socialpoints"
    [votesChallenge]="challenge.votes"
    [id]="challenge.id"
    [statusvotesChallenge]="challenge.statusvotes"
    [downloadURL]="challenge.downloadURL"
    [eventDateChallenge]="challenge.eventDate"
    [eventTimeChallenge]="challenge.eventTime"
    [contactmail]="challenge.contactmail"
    ></app-card-challenge>
  <br />
</div>
-->
<!-- Damit Einträge nicht unter der Navi verschwinden-->
<div class="spacedown"></div>
