// Die Stylings des Popups sind in der "src/sass/2-modules/popup.scss"
@import "src/sass/styles.scss";

:host {
  max-width: 48em;
  display: block;
  margin: 0 auto;
  padding: 0 1.25em 17.5em 1.25em;
}
.callengetime-divider {
  margin-top: 0;
  display: hidden;
}
.ribbon {
  width: 18px;
  height: 26px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: -4px;
}
.wrapper-problem-achievement {
  display: flex;
  margin-top: 1em;
}
.headline-problem-detail {
  margin: 0;
}
.detail-problem-description {
  margin-top: $xs-spacing;
}
.wrapper-problemcreator {
  display: flex;
  justify-content: space-between;
  p {
    margin: 0;
  }
}
.problemcreator {
  display: flex;
}
.profilepicture {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  object-fit: cover;

  border: solid 2px #fff;
}

.flex-container-challenges-1 {
  max-width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: stretch;
}
//Pls nicht löschen, das ist wichtig für die Funktionalität vom Email absenden
#contactemail {
  display: none;
}
.delete-challenge-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.delete-challenge-info div {
  width: fit-content;
  margin-left: 1.5em;
}

.delete-challenge-info div h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: $color-primary;
}

.delete-challenge-info svg {
  width: 25px;
  height: 25px;
  margin: 0;
}
