<!DOCTYPE html>

<div class="wrapper-filter-probleme">
  <div><img src="#" class="img-probleme" size="auto" alt="Header"></div>
</div>
<div class="section-4">
  <h5>Barrierefreiheit</h5>
  <h1>Überschrift Projekt</h1>
  <div class="w-layout-grid grid">
    <table>
      <tr>
          <td style="padding-right:30px;"><app-button [btntext]="'Lösen'"></app-button></td>
          <td>Platzhalter Symbol</td>
      </tr>
    </table>
    <br>
  </div>
</div>
<div class="section">
  <div class="text-block">Beschreibung des Problems. Gemeinsam sind wir stark. Nimm Teil an unseren Challenges und mach deine Stadt Stück für Stück besser.</div>
  <br>
  <div class="w-row">
    <app-form-divider></app-form-divider>
    <table>
      <tr>
          <td>User</td>
          <td style="width:100%;text-align:right;">Datum</td>
      </tr>
    </table>
    <br>
    <app-form-divider></app-form-divider>
  </div>
</div>
<div class="section-2">
  <h2 class="heading-3">Andere Meinungen</h2>
  <div>
    <p style="border:1px solid #ccc!important; padding: 5px 16px; border-style: double;">Meinung</p>
    <p style="border:1px solid #ccc!important; padding: 5px 16px;border-radius: 16px;"><app-input-text></app-input-text></p>
    <p style="text-align:right;"><app-button [btntext]="'Speichern'"></app-button></p>
  </div>
</div>
<div class="section-2">
  <br><br>
</div>
