<!DOCTYPE html>

<div class="wrapper-filter-probleme">
  <div><img src="#" class="img-probleme" size="auto" alt="Header"></div>
</div>
<div class="section-4">
  <h5>Barrierefreiheit</h5>
  <h1>Überschrift Projekt</h1>
  <div class="w-layout-grid grid">
    <table>
      <tr>
          <td style="padding-right:30px;"><app-button></app-button></td>
          <td>Platzhalter Symbol</td>
      </tr>
    </table>
    <br>
  </div>
</div>
<div class="section">
  <div class="text-block">Gemeinsam sind wir stark. Nimm Teil an unseren Challenges und mach deine Stadt Stück für Stück besser.</div>
  <br>
  <div class="w-row">
    <app-form-divider></app-form-divider>
    <table>
      <tr>
          <td>User</td>
          <td style="width:100%;text-align:right;">Datum</td>
      </tr>
    </table>
    <br>
    <app-form-divider></app-form-divider>
  </div>
</div>
<div class="section-2">
  <h2 class="heading-3">Welche Probleme wir lösen:</h2>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83506.8959102098!2d9.103248609378996!3d49.151398999796065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47982897b04d51d1%3A0x41ffd3c8d099070!2sHeilbronn!5e0!3m2!1sde!2sde!4v1620219917997!5m2!1sde!2sde" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="section-2">
  <h2 class="heading-3">Was du brauchst:</h2>
  <div class="w-row">
      <ul>
         <li>Punkt 1</li>
         <li>Punkt 2</li>
         <li>Punkt 3</li>
      </ul>
  </div>
  <div class="text-block-5">xx Personen nehmen teil.</div>
</div>
<div class="section-2">
  <br><br><br><app-form-divider></app-form-divider>
  <h2 class="heading-3">Weitere Challenges</h2>
  <app-card-challenge></app-card-challenge>
  <br>
</div>

