<div style="z-index: -1;">
  <app-gallerie-slider>
  </app-gallerie-slider>
</div>
<div class="category category-umwelt">
  <svg aria-hidden="true" focusable="false">
    <use xlink:href="#icon-umwelt"/>
  </svg>
  <p class="category-label"> Barrierefreiheit </p>
</div>
<h1 class="headline-problem-detail">Die Umkleide ist zu schmal für meinen Rollstuhl</h1>
<div class="wrapper-problem-achievement">
  <app-button
    [btntext]="'Lösen'"
    [type]="'button-primary'">
  </app-button>
  <div class="achievement">
    <svg aria-hidden="true" focusable="false" class="ribbon">
      <use xlink:href="#ribbon"/>
    </svg>
    <p class="number-achievement">8</p>
  </div>
</div>
<p class="detail-problem-description">
  Beschreibung des Problems. Gemeinsam sind wir stark. Nimm Teil an unseren Challenges und mach deine Stadt Stück für Stück besser.
</p>
<hr>
<div class="wrapper-problemcreator">
  <div class="problemcreator">
    <img class="profilepicture" alt="profilepicture" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80"/>
    <p>@Username</p>
  </div>
  <p>23.August 2021</p>
</div>
<hr>
<!-- Andere Meinungen -->
<app-comments></app-comments>
