<!DOCTYPE html>

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<div class="carousel-container">
  <i class="fas fa-angle-left" id="prevBtn"></i>
  <i class="fas fa-angle-right" id="nextBtn"></i>
  <div class="carousel-slide">
    <img src="https://hdhintergrundbilder.net/image/makro/937/blumen-rosa-blutenblatter-knospen-fruhlings.jpg" id ="lastClone" alt="">
    <img src="https://s1.1zoom.me/b5050/592/Tulips_Fields_Pink_color_545751_1920x1080.jpg" alt="">
    <img src="https://lh3.googleusercontent.com/proxy/D-IIcmjnXQJPGxt9QxvXuex0GDCmURzKsNjYhRrytyfK6tcaQgu3kcPGsjcyITIX5WzhqJYTfcolgIAwydrZTLQGWO-uag2qAUETZXVgjnYtaVe4ToMyvaUkgWdPHDvKajf0lB8" alt="">
    <img src="https://hdhintergrundbilder.net/image/makro/937/blumen-rosa-blutenblatter-knospen-fruhlings.jpg" alt="">
    <img src="https://s1.1zoom.me/b5050/592/Tulips_Fields_Pink_color_545751_1920x1080.jpg" id="firstClone" alt="">
  </div>
</div>
