@import "src/sass/styles.scss";

:host {
  max-width: 48em;
  display: block;
  margin: 0 auto;
  padding: 0 1.25em;
}

.outline {
  width: 22em;
  border-radius: 200em;
  border: 2px solid #e88e07;
  padding: 2px;
}

.outline-position {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.roundpicture {
  width: 9em;
  border-radius: 50%;
  border: 2px solid #e88e07;
}

.divroundpic {
  display: flex;
  justify-content: center;
}

.firstline {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.edit,
.setting {
  width: 13px;
  color: #ffffff;
}

.locationnadel {
  width: 15px;
  height: 15px;
  color: #ffffff;
}

.ribbon {
  width: 60px;
  height: 60px;
  color: #ffffff;
}

.arrow-left-profil {
  width: 15px;
  height: 15px;
  color: #ffffff;
}

.headline-links {
  text-align: left;
  margin-top: 4em;
  color: #250c59;
}

.boxes-grey {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0 -1.25em;
}

.greybox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 2.2em;
  padding-right: 1em;
}

.box-color {
  width: 100%;
  background-color: #f8f8f8;
  border-bottom: 0.5px groove #dbdbdb;
}
.wrapper-profile-buttons {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  button {
    margin-right: 20px;
  }
}

.button-logout-wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  button {
    svg {
      width: 20px;
      height: 20px;
      margin-right: 7px;
    }
  }
}
