<div class="firstline">
    <div>
      <a href="/profil/profil-bearbeiten"><svg aria-hidden="true" focusable="false" class="edit">
      <use xlink:href="#edit"/>
      </svg></a>
    </div>
    <div><b>Profil</b></div>
    <div>
      <a href="/profil/einstellungen"><svg aria-hidden="true" focusable="false" class="setting">
      <use xlink:href="#setting"/>
      </svg></a>
    </div>
</div>

<div class="outline" style="margin:auto;">
  <div class="outline-position">
      <div class="divroundpic">
        <img src="https://img.welt.de/img/vermischtes/mobile227424725/4012503017-ci102l-w1024/Lisa-Licentia.jpg" alt="Profilbild" class="roundpicture">
      </div>
      <div class="divroundpic" style="padding-left:5%">
        <svg aria-hidden="true" focusable="false" class="ribbon">
          <use xlink:href="#ribbon"/>
        </svg>
        <p style="font-size: 36px;font-weight:700;padding-left:0.2em;padding-right:5%;">Text</p>
      </div>
    </div>
</div>

<div class="profiltext">
  <div class="zeile" style="font-size: 14px;">
      <svg aria-hidden="true" focusable="false" class="locationnadel">
        <use xlink:href="#locationnadel"/>
      </svg>
      Heilbronn
  </div>
  <div>
    <h3 class="name-headline">
      Unternehmen Mustermann
    </h3>
  </div>
  <div class="ort" style="padding-top:3px;">
    Mail-Adresse<br>
  </div>
</div>

<div class="headline-links">
  <b>
    Für dich
  </b>
</div>

<div>
  <div class="boxes-grey">
    <div class="greybox box-color">
        <p><a href="/#">Merkliste</a></p>
        <svg aria-hidden="true" focusable="false" class="arrow-left-profil">
        <use xlink:href="#arrow-left-profil"/>
        </svg>
    </div>
    <div class="greybox box-color">
      <p><a href="/list-problems">Eingereichte Probleme</a></p>
      <svg aria-hidden="true" focusable="false" class="arrow-left-profil">
      <use xlink:href="#arrow-left-profil"/>
      </svg>
    </div>
    <div class="greybox box-color">
      <p><a href="#">Gelöste Probleme</a></p>
      <svg aria-hidden="true" focusable="false" class="arrow-left-profil">
      <use xlink:href="#arrow-left-profil"/>
      </svg>
    </div>
    <div class="greybox box-color">
      <p><a href="#">Challenges, an denen ich teilnehme</a></p>
      <svg aria-hidden="true" focusable="false" class="arrow-left-profil">
      <use xlink:href="#arrow-left-profil"/>
      </svg>
    </div>
  </div>
</div>

<div class="headline-links">
  <b>
    Organisation
  </b>
</div>

<div>
  <div class="boxes-grey">
    <div class="greybox box-color">
      <p><a href="#">Verifizierung beantragen</a></p>
      <svg aria-hidden="true" focusable="false" class="arrow-left-profil">
      <use xlink:href="#arrow-left-profil"/>
      </svg>
    </div>
    <div class="greybox box-color">
      <p><a href="/faq">FAQ</a></p>
      <svg aria-hidden="true" focusable="false" class="arrow-left-profil">
      <use xlink:href="#arrow-left-profil"/>
      </svg>
    </div>
    <div class="greybox box-color">
      <p><a href="/impressum">Impressum</a></p>
      <svg aria-hidden="true" focusable="false" class="arrow-left-profil">
      <use xlink:href="#arrow-left-profil"/>
      </svg>
    </div>
  </div>
</div>

<p><br><br><br><br><br><br></p>
