<a href="/willkommen-n">
  <svg class="icon-arrow-left" aria-hidden="true" focusable="false">
    <use xlink:href="#icon-arrow-left"/>
  </svg>
</a>
<div>
  <h1>Willkommen zurück.</h1>
  <form class="form-wrapper login-wrapper">
    <div class="form-group">
      <label class="text-input-label label" for="E-Mail">E-Mail</label>
      <input type="text" class="text-input-input form-input form-control" placeholder="Dein Benutzname" #userName required>
      <hr class="hr-form">
    </div>
    <div class="form-group">
      <label class="text-input-label label" for="E-Mail">Passwort</label>
      <input type="password" class="text-input-input form-input form-control" placeholder="Passwort" #userPassword required>
      <hr class="hr-form">
    </div>
  </form>
  <div class="login-additional-fuctions-wrapper">
    <p class="p-center">Passwort vergessen? <a href="/forgot-password" class="link">Passwort zurücksetzen</a></p>
    <p class="p-center">Noch keinen Account? <a href="/register" class="link">Registrieren</a></p>

    <!-- Calling SignIn Api from AuthService -->
    <button class="button-primary button-fullwidth" (click)="authService.SignIn(userName.value, userPassword.value)">Einloggen</button>
  </div>

</div>
<app-logged-in-start *ngIf="authService.userData as user" (isLogout)="handleLogout()"></app-logged-in-start>
