<!-- <form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="mb-3">
    <label>Titel</label>
    <input type="text" formControlName="title" class="form-control" required />
  </div>

  <div class="mb-3">
    <label>Beschreibung</label>
    <input
      type="email"
      formControlName="description"
      class="form-control"
      required
    />
  </div>

  <div class="mb-3">
    <label>Kategirie</label>
    <input
      type="text"
      formControlName="category"
      class="form-control"
      required
    />
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form> -->

<div class="popover-wrapper" id="solution-popup">
  <div class="background-blur"></div>
  <div class="popover-content">
    <div class="popover-content-wrapper">
        <div>
          <svg aria-hidden="true" focusable="false" onclick="closeSolution();">
            <use xlink:href="#icon-close-circle" />
          </svg>
        </div>
        <h2>Lösung einreichen</h2>
        <!-- <label>Beschreibung deiner Lösung</label> -->
        <!-- <p>Cool! Beschreibe deine Lösung kurz:</p> -->
        

        <form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
          <label>Beschreibung deiner Lösung</label>
          <br />  
          <textarea class="solution-textarea" type="text" formControlName="solution" rows="4"> </textarea>
          <br />         
          <!-- <input type="text" formControlName="solution" class="form-control" required /> -->

          <button type="submit" class="button-primary">Speichern</button>
        </form>

          
        
    </div>
  </div>
</div>





<!-- Problem bearbeiten wie im Design -->
<!-- 
<div class="form-container">
  
  <div class="form-legende">
    <a class="form-iconclose-cross" href="javascript:history.back()">
      <svg aria-hidden="true" focusable="false">
        <use xlink:href="#icon-close-cross" />
      </svg>
    </a>
    <label class="edit-problem-label">Problem bearbeiten</label>
  </div>
  <hr class="form-hr-head hr-up" />

  
  <div class="edit-problem-content">
   
    <div class="form-image-wrapper">
      <img src="https://dummyimage.com/600x400/000/fff" class="form-image" />
    </div>
    <hr class="form-hr-head hr-down" />

    
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-input-wrapper">
        <label class="form-input-label label">Standort</label>
        <textarea
          class="form-input-input form-input"
          maxlength="200"
          type="text"
        >
Neckarhalde 21, 74074 Heilbronn
      </textarea
        >
        <hr class="hr-form" />
        <label class="form-input-label label">Titel</label>
        <input
          type="text"
          formControlName="title"
          class="form-control form-input"
          required
        />

        <hr class="hr-form" />
        <label class="form-input-label label">Beschreibung</label>
        <input
          type="email"
          formControlName="description"
          class="form-control form-input"
          required
        />

        
        <div class="form-button-wrapper">
          <select
            class="dropdown form-button-left"
            formControlName="category"
            Name="category"
          >
            <option value="Barrierefreiheit" selected>Barrierefreiheit</option>
            <option value="Vandalismus">Vandalismus</option>
            <option value="Umwelt">Umwelt</option>
          </select>

          <button class="button-primary" type="submit">Speichern</button>
        </div>
      </div>
    </form>
  </div>
</div> -->
