<a href="javascript:history.back()">
  <svg class="icon-arrow-left" aria-hidden="true" focusable="false">
    <use xlink:href="#icon-arrow-left"/>
  </svg>
</a>
<h1>FAQ</h1>
<div class="form-container">
  <div class="accordion-probleme-container">
    <h3>Probleme</h3>
    <accordion [isAnimated]="true">
      <hr class="hr-form" />
      <accordion-group heading="Wie erstelle ich ein Problem?">
        <p>Klicke hierfür in der Problemansicht auf den orangen Plus Button. Es öffnet sich ein neues Fenster, indem du Schritt für Schritt durch die Erstellung geführt wirst. Lade ein Foto von deinem Handy hoch und gebe den Ort an, an dem Du das Problem entdeckt hast. Du kannst dem Problem noch einen Namen geben und näher beschreiben. Gebe zum Schluss noch an, um welche Art von Problem es sich handelt. </p>
      </accordion-group>
      <hr class="hr-form" />
      <accordion-group heading="Was bringt es mir Probleme zu lösen?">
        <!--"Was bringt es mir ein Problem zu lösen?"-->
        <p>Durch die Lösung von Problemen, tust du deiner Stadt und anderen Bewohnern etwas Gutes und verbesserst die Welt mit jedem Mal ein kleines bisschen mehr. Außerdem erhältst du für jedes gelöste Problem Social Points, mit denen du bei deinen lokalen Einzelhändlern Vergünstigungen bekommst.</p>
      </accordion-group>
      <hr class="hr-form" />
    </accordion>
  </div>
  <div class="accordion-challenge-container">
    <h3>Challenge</h3>
    <accordion [isAnimated]="true">
      <hr class="hr-form" />
      <accordion-group heading="Wie erstelle ich eine Challenge?">
        <p>Klicke hierfür in der Challengeansicht auf den orangen Plus Button. Es öffnet sich ein neues Fenster, indem du Schritt für Schritt durch die Erstellung geführt wirst. Lade ein Foto von deinem Handy hoch und gebe den Ort an, an dem die Challenge stattfinden soll. Du kannst der Challenge noch einen Namen geben und näher beschreiben. Gebe den Veranstalter der Challenge sowie eine Checkliste für die Teilnehmer an. Datum und Uhrzeit des Events dürfen natürlich auch nicht fehlen. Gebe zum Schluss noch an, um welche Art von Challenge es sich handelt. </p>
      </accordion-group>
      <hr class="hr-form" />
      <accordion-group heading="Warum kann ich keine Challenge erstellen?">
        <p>Eine Challenge kann nur von einem gemeinnützigen Verein, einem Unternehmen oder einer Stadt erstellt werden. Wenn du das bist, musst du dich nur noch über mein Profil/Challengesetter werden verifizieren und kannst schon damit loslegen deine Stadt Challenge für Challenge zu verbessern.</p>
      </accordion-group>
      <hr class="hr-form" />
    </accordion>
  </div>
  <div class="accordion-socialpoints-container">
    <h3>Social Points</h3>
    <accordion [isAnimated]="true">
    <hr class="hr-form" />
      <accordion-group heading="Was bringen mir die Social Points?">
        <!--"Was kann ich mit den Social Points machen?"-->
        <p>Mit den Social Points bekommst du Vergünstigungen bei deinen lokalen Einzelhändlern, welche das sind erfährst du hier.</p>
      </accordion-group>
      <hr class="hr-form" />
      <accordion-group heading="Wie bekomme ich Social Points?">
        <!--"Wie viele Social Points bekommt man für die Lösung eines Problems?"-->
        <p>Das hängt davon ab, wie lange es dauert das Problem zu lösen und um was für ein Problem es sich handelt.</p>
      </accordion-group>
      <hr class="hr-form" />
      <accordion-group heading="Wo kann ich Social Points einlösen?">
        <!--"Wo kann ich meine Social Points einlösen?"-->
        <p>Bei den folgenden Unternehmen</p>
        <ul>
          <li>AEVIN</li>
          <li>Bäckerei Lieb</li>
          <li>Central Peak</li>
          <li>Hornfluss</li>
          <li>LandimTal</li>
          <li>Mode Fuchs</li>
          <li>Möbel Krieger</li>
          <li>Pflanzen Hauk</li>
        </ul>
      </accordion-group>
      <hr class="hr-form" />
    </accordion>
  </div>
  <div class="accordion-preise-container">
    <h3>Preise</h3>
    <accordion [isAnimated]="true">
      <hr class="hr-form" />
      <accordion-group heading="Ist die App wirklich kostenlos?">
        <p>Die App ist für alle Weltverbesserer, die auf Probleme aufmerksam machen möchten kostenlos. </p>
      </accordion-group>
    <hr class="hr-form" />
    </accordion>
  </div>
  <div class="accordion-sonstiges-container">
    <h3>Sonstiges</h3>
    <accordion [isAnimated]="true">
      <hr class="hr-form" />
      <accordion-group heading="Haben diese App Noobs entwickelt?">
        <!--"Haben diese App wirklich Noobs entwickelt?"-->
        <p>Ja man!</p>
      </accordion-group>
      <hr class="hr-form" />
    </accordion>
  </div>
</div>
