<div class="form-container">
  <!-- LEGENDE -->
  <div class="form-legende">
    <svg aria-hidden="true" class="form-iconclose-cross" focusable="false">
      <use xlink:href="#icon-close-cross" />
    </svg>
    <label class="create-problem-label">Problem hinzufügen</label>
  </div>
  <hr class="form-hr-head hr-up" />

  <!-- CONTENT -->
  <div class="create-problem-content">
    <!-- IMAGE -->
    <div class="form-add-image-wrapper">
      <svg aria-hidden="true" class="form-add-image" focusable="false">
        <use xlink:href="#add" />
      </svg>
      <label class="label">Bild hinzufügen</label>
    </div>
    <hr class="form-hr-head hr-down" />

    <!-- FORM INPUT -->
    <form [formGroup]="problemForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-input-wrapper">
        <input
          type="file"
          (change)="startUpload($event.target.files)">

        <div *ngIf="(snapshot | async) as snap">
          <div *ngIf="downloadURL as url">
            <img [src]="url"><br>
          </div>
        </div>

        <label class="form-input-label label">Standort</label>
        <input
          type="text"
          formControlName="location"
          placeholder="Wo ist das Problem"
          class="form-control"
          required
        />
        <hr class="hr-form" />
        <label class="form-input-label label">Titel</label>
        <input
          type="text"
          formControlName="title"
          placeholder="Gib deinem Problem ein Titel"
          class="form-control"
          required
        />

        <hr class="hr-form" />
        <label class="form-input-label label">Beschreibung</label>
        <input
          type="text"
          formControlName="description"
          placeholder="Beschreibe dein Problem"
          class="form-control"
          required
        />

        <!-- BUTTONS -->
        <div class="form-button-wrapper">
          <select
            class="dropdown form-button-left"
            formControlName="category"
            Name="category"
          >
            <option value="Barrierefreiheit" selected>Barrierefreiheit</option>
            <option value="Vandalismus">Vandalismus</option>
            <option value="Umwelt">Umwelt</option>
          </select>
          <button class="button-primary" >Speichern</button>
        </div>
      </div>
    </form>
  </div>
</div>
