@import "src/sass/styles.scss";

:host {
  max-width: 48em;
  display: block;
  margin: 0 auto;
  padding: 0 1.25em;
}
.ribbon {
  width: 18px;
  height: 26px;
}
.wrapper-problem-achievement {
  display: flex;
  margin-top: 1em;
}
.wrapper-problemcreator {
  display: flex;
  justify-content: space-between;
  p {
    margin: 0;
  }
}
.problemcreator {
  display: flex;
}
.profilepicture {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5em;
}

.spacedown {
  height: 80px;
}

.problem-solution-wrapper {
  display: none;
}

.problem-solution-wrapper-visible {
  margin-top: 30px;
  border: 1px solid $color-secondary;
  border-radius: 15px;
  background-color: $color-secondary-light;
  .label-box{
    background-color: $color-secondary;
    width: fit-content;
    border-radius: 8px;
    margin-left: 10px;
    margin-top: -10px;

    label{
      color: #fff;
      margin-left: 10px;
      margin-right: 10px;
      font-weight: 600;
    }
  }

  p {
    margin: 10px 20px 20px 20px;
  }

  div {
    display: flex;
    margin: 10px 20px 20px 20px;

    svg{
      width: 30px;
      height: 30px;
    }
    .p-info{
      color: $color-grey-3;
      margin: 0 0 0 10px;
    }
  }

}
