<div class="delete-problem-container" id="container-id">
  <div class="delete-problem-legende">
    <svg aria-hidden="true" class="icon-close-cross" focusable="false">
      <use xlink:href="#icon-close-cross" />
    </svg>
    <label class="delete-problem-label">Löschen</label>
  </div>
  <hr />

  <div class="delete-problem-content">
    <h4>Möchtest du dein Problem</h4>
    <p class="delete-problem-name">
      Die Umkleide ist zu schmal für meinen Rollstuhl
    </p>
    <h4>wirklich Löschen?</h4>
    <div class="delete-button-wrapper">
      <button class="button-secondary delete-button">Löschen</button>
      <button class="button-primary">behalten</button>
    </div>
  </div>
</div>

<!-- <script>
  function toggle() {
    var blur = document.getElementById("container-id");
    blur.classList.toggle("active");
    var popup = document.getElementById("popup");
    blur.classList.toggle("active");
  }
</script> -->
