  <div style="text-align: center; font-weight: 700; font-size:16px">
    <img src="https://www.pinclipart.com/picdir/big/93-939517_randome-clipart-construction-site-building-construction-clipart-png.png" width="200" style="margin-top:3em; margin-bottom:1.5em"> <br>
    Our website is under construction. <br>
    We`ll be here soon with our new awesome site.
    <br><br>
    <a href="javascript:history.back()">
      <svg class="icon-arrow-left" aria-hidden="true" focusable="false">
        <use xlink:href="#icon-arrow-left"/>
      </svg>
    </a>
  </div>
