<!-- <svg class="icon-logo-start" aria-hidden="true" focusable="false">
  <use xlink:href="#logo"/>
</svg>
<h1 class="headline-intro">Deine Stadt<br> braucht <span>dich.</span></h1>
<p class="p-center">Gemeinsam sind wir stark. Nimm Teil an unseren Challenges und mach deine Stadt Stück für Stück besser.</p>
<div class="wrapper-buttons-bottom wrapper-buttons-welcome">
    <app-button
        [btnlink] = '"/register"'
        [type]='"button-secondary"'
        [btntext] = '"Registrieren"'
      >
    </app-button>
    <app-button
        [btnlink] = '"/login"'
        [type]='"button-primary"'
        [btntext] = '"Einloggen"'
      >
    </app-button>
</div> -->
