<div class="intro-wrapper image-gradient">
    <header class="wrapper-challengesetter">
      <img class="img-challengesetter" src="https://images.unsplash.com/photo-1602262442764-c14f8db98045?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="HeaderBild">
    </header>
  <div class="wrapper-main-infos-challenge">
    <p class="location-challenge"><span>Kategorie</span></p>
    <h3 class="titel-challenge"> Titel der Challenge</h3>
  </div>
  <div class="">
    <button type="submit">Anmelden</button>
    <svg aria-hidden="true" focusable="false">
      <use xlink:href="#icon-star"/>
    </svg>
  </div>
  <div class="platzhalter">
    <p>Text <br> Username</p>
  </div>
  <div class="platzhalter">
    <h3 class="titel-challenge">Welche Probleme wir lösen</h3>
  </div>
  <div class="Platzhalter">
    <h3 class="titel-challenge">Was du brauchst</h3>
      <ul>
       <li>Punkt 1</li>
       <li>Punkt 2</li>
       <li>Punkt 3</li>
     </ul>
  </div>
</div>
