@import "src/sass/0-base/colors.scss";

:host{
  max-width: 48em;
  display: block;
  margin: 0 auto;
  padding: 0 1.25em;
}
.wrapper-filter-probleme{
  margin-top: 2.5em;
  width: 100%;
  height: 2.8em;
  box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
  hr{
    position: absolute;
    right: 3em;
    color: $color-grey-4;
  }
  svg{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 1em;
  }
}
.text-filter{
  margin-left: 4%;
  span{
    font-weight: 800;
  }
}
.open-problems{
  text-align: center;
  margin: 1.625em 0 1.25em 0;

}

 .w-layout-grid{
   display: -ms-grid;
   display: grid;
   grid-auto-columns: 1fr;
   -ms-grid-columns: 1fr 1fr;
   grid-template-columns: 1fr 1fr;
   -ms-grid-rows: auto auto;
   grid-template-rows: auto auto;
   grid-row-gap: 16px;
   grid-column-gap: 16px;
 }

 .text-block{
   margin-left: 10px;
 }

 .heading-3{
   margin-left: 10px;
 }

 .text-block-5{
   margin-left: 10px;
 }

 .section-4{
   margin-right: 10px;
   margin-left: 10px;
 }

 @media screen and (max-width: 479px) {
   .grid {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     margin-top: 20px;
     grid-auto-flow: row;
     grid-template-areas: "Area Area-2";
     -ms-grid-columns: 0.5fr 1fr;
     grid-template-columns: 0.5fr 1fr;
   }

   .heading{
     
   }
 }
