<!DOCTYPE html>

<div class="wrapper-filter-probleme">
  <div><img src="#" class="img-probleme" size="auto" alt="Header"></div>
</div>
<div class="section-4">
  <h6 class="heading-2"> <i class="fa fa-wheelchair" aria-hidden="true"></i> &nbsp; Barrierefreiheit</h6>
  <h2 class="heading">Überschrift Projekt</h2>
  <div class="w-layout-grid grid">
    <a href="#" class="button w-button">Anmelden</a>
    <p>Platzhalter Symbol </p>
  </div>
</div>
<div class="section">
  <div class="text-block">Gemeinsam sind wir stark. Nimm Teil an unseren Challenges und mach deine Stadt Stück für Stück besser.</div>
  <div class="w-row">
    <div class="column w-col w-col-6 w-col-small-6 w-col-tiny-6">
      <div class="text-block-2">User</div>
    </div>
    <div class="column w-col w-col-6 w-col-small-6 w-col-tiny-6">
      <div class="text-block-3">Datum</div>
    </div>
  </div>
</div>
<div class="section-2">
  <h2 class="heading-3">Welche Probleme wir lösen:</h2>
  <div class="w-row">
    <div class="column w-col w-col-6 w-col-small-6 w-col-tiny-6">
      <div class="text-block-4">Listenelement</div>
    </div>
    <div class="column w-col w-col-6 w-col-small-6 w-col-tiny-6">
      <div class="text-block-4">Listenelement</div>
    </div>
  </div>
  <div class="text-block-5">xx Personen nehmen teil.</div>
</div>
<div class="section-2">
  <h2 class="heading-3">Weitere Challenges</h2>
  <app-card-challenge></app-card-challenge>
</div>
