{{diagnostic}}
<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="form-group">
      <label for="vorname">Vorname</label>
      <input type="text" class="form-control" id="vorname"
          required
          [(ngModel)]="model.vorname" name="vorname"
          #vorname="ngModel">
    </div>
    TODO: remove this: {{model.vorname}}
    <!-- Zeigt Fehlermeldung an-->
    <div [hidden]="vorname.valid || vorname.pristine"
      class="alert alert-danger">
      Bitte gebe deinen Vornamen an.
    </div>
    <!--This example has a temporary diagnostic interpolation after each input tag, {{model.name}}, to show the current data value of the corresponding property. The note reminds you to remove the diagnostic lines when you have finished observing the two-way data binding at work.-->

    <div class="form-group">
      <label for="nachname">Nachname</label>
      <input type="text" class="form-control" id="nachname"
          required
          [(ngModel)]="model.nachname" name="nachname"
          #nachname="ngModel">
    </div>
    <!-- Zeigt Fehlermeldung an-->
    <div [hidden]="nachname.valid || nachname.pristine"
      class="alert alert-danger">
      Bitte gebe deinen Nachnamen an.
    </div>

    <div class="form-group">
      <label for="mail">E-Mail Adresse</label>
      <input type="text" class="form-control" id="mail"
          required
          [(ngModel)]="model.mail" name="mail"
          #mail="ngModel">
    </div>
    <!-- Zeigt Fehlermeldung an-->
    <div [hidden]="mail.valid || mail.pristine"
      class="alert alert-danger">
      Um dich registrieren zu können, benötigen wir Deine Mail Adresse.
    </div>

    <div class="form-group">
      <label for="mail">Dein Passwort</label>
      <input type="text" class="form-control" id="passwort"
          required
          [(ngModel)]="model.passwort" name="passwort"
          #passwort="ngModel">
    </div>
    <!-- Zeigt Fehlermeldung an-->
    <div [hidden]="passwort.valid || passwort.pristine"
      class="alert alert-danger">
      Bitte gebe ein Passwort ein.
    </div>
</form>
<button type="submit" class="btn btn-default" [disabled]="!heroForm.form.valid" (click)="newUser(); heroForm.reset()">Jetzt registrieren</button>
<button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newUser(); heroForm.reset()">New Hero</button>
</div>
<!--Text nach Registrierung-->
<div [hidden]="!submitted">
  <h1> Wir haben Dir eine Mail geschickt</h1>
  <p>Klicke jetzt nur noch auf den Link in der Mail, die wir dir geschickt haben und schon kann es mit dem Welt verbessern losgehen.</p>
</div>
