<div class="section-2">
  <br>
  <h2 class="heading-3">Andere Meinungen</h2>
  <div>
    <div class="border-frame">
      <p>Text steht hier</p>
      <app-form-divider></app-form-divider>
      <table style="margin-bottom:3%;">
        <tr>
            <td>User</td>
            <td style="width:100%;text-align:right;">
              12&nbsp;
              <svg aria-hidden="true" focusable="false" class="diagram">
                <use xlink:href="#diagram"/>
              </svg> Datum
            </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="border-frame-round">
    <app-input-text></app-input-text>
  </div>
  <p style="text-align:right;">
    <svg aria-hidden="true" focusable="false" class="check" style="z-index: 10;">
      <use xlink:href="#check"/>
    </svg>
    <app-button [btntext]="'Speichern'"></app-button>
  </p>
</div>
