<!--https://angular.io/api/forms/Validators#email-->
<!--Formular-->
<!--{{diagnostic}}-->
<div [hidden]="submitted">
  <h1>Schön dich kennenzulernen.</h1>
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group">
      <label for="vorname">Vorname</label>
      <input type="text" class="form-control" id="vorname"
          required
          [(ngModel)]="model.vorname" name="vorname"
          #vorname="ngModel">
    </div>
    TODO: remove this: {{model.vorname}}
    <!-- Zeigt Fehlermeldung an-->
    <div [hidden]="vorname.valid || vorname.pristine"
      class="alert alert-danger">
      Bitte gebe deinen Vornamen an.
    </div>
    <!--This example has a temporary diagnostic interpolation after each input tag, {{model.name}}, to show the current data value of the corresponding property. The note reminds you to remove the diagnostic lines when you have finished observing the two-way data binding at work.-->

    <div class="form-group">
      <label for="nachname">Nachname</label>
      <input type="text" class="form-control" id="nachname"
          required
          [(ngModel)]="model.nachname" name="nachname"
          #nachname="ngModel">
    </div>
    <!-- Zeigt Fehlermeldung an-->
    <div [hidden]="nachname.valid || nachname.pristine"
      class="alert alert-danger">
      Bitte gebe deinen Nachnamen an.
    </div>

    <div class="form-group">
      <label for="email">E-Mail Adresse</label>
      <input type="text" class="form-control" id="email"
          required ngModel [email]="true"
          [(ngModel)]="model.mail" name="email"
          #mail="ngModel">
    </div>
    <!-- Zeigt Fehlermeldung an-->
    <div [hidden]="mail.valid || mail.pristine"
      class="alert alert-danger">
      Um dich registrieren zu können, benötigen wir Deine Mail Adresse.
    </div>

    <div class="form-group">
      <label for="mail">Dein Passwort</label>
      <input type="text" class="form-control" id="passwort"
        required minlength="10"
        required
        [(ngModel)]="model.passwort" name="passwort"
        #passwort="ngModel">
    </div>
    <!-- Zeigt Fehlermeldung an-->
    <div [hidden]="passwort.valid || passwort.pristine"
      class="alert alert-danger">
      Bitte gebe ein Passwort ein.
    </div>
  </form>
  <p class="p-center">Unternehmensprofile können nach der Registrierung im Profil beantragt werden</p>

  <!--
  <app-button
    [btnlink] = '"https://angular.io/guide/forms#build-the-form"'
    [type]='"button-primary button-fullwidth"'
    [btntext] = '"Jetzt registrieren"'
  ></app-button>-->
  <button type="submit" class="button-primary button-fullwidth" [disabled]="!userForm.form.valid" (click)="newUser(); onSubmit(); userForm.reset() ">Registrieren</button>
</div>

<!--Text nach Registrierung-->
<div [hidden]="!submitted">
  <h1> Wir haben Dir eine Mail geschickt</h1>
  <h2>Klicke jetzt nur noch auf den Link in der Mail, die wir dir geschickt haben und schon kann es mit dem Welt verbessern losgehen.</h2>
</div>
