<div class="delete-problem-container" id="container-id">
  <div class="delete-problem-legende">
    <svg aria-hidden="true" class="icon-close-cross" focusable="false">
      <use xlink:href="#icon-close-cross" />
    </svg>
    <label class="delete-problem-label">Löschen</label>
  </div>
  <hr class="delete-callenge-first-divider"/>
  <div class="delete-challenge-background">
    <div class="delete-challenge-info">
      <svg aria-hidden="true" focusable="false">
        <use xlink:href="#icon-info" />
      </svg>
      <div>
        <h3>12.08</h3>
        <label>Datum</label>
      </div>
      <div>
        <h3>23</h3>
        <label>Teilnehmer</label>
      </div>
    </div>
  </div>
  <hr />

  <div class="delete-problem-content">
    <h4>Möchtest du deine Challenge</h4>
    <p class="delete-problem-name">
      Rampen bauen mit dem Rollstuhlverein Heilbronn
    </p>
    <h4>wirklich Löschen?</h4>
    <div class="delete-button-wrapper">
      <button class="button-secondary delete-button">Löschen</button>
      <button class="button-primary">behalten</button>
    </div>
  </div>
</div>
