<p>edit-problem works!</p>

<form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="mb-3">
    <label>Titel</label>
    <input type="text" formControlName="title" class="form-control" required />
  </div>

  <div class="mb-3">
    <label>Beschreibung</label>
    <input
      type="email"
      formControlName="description"
      class="form-control"
      required
    />
  </div>

  <div class="mb-3">
    <label>Kategirie</label>
    <input
      type="text"
      formControlName="category"
      class="form-control"
      required
    />
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>

<!-- Problem bearbeiten wie im Design -->
<div class="edit-problem-container">
  <div class="edit-problem-legende">
    <svg aria-hidden="true" class="icon-close-cross" focusable="false">
      <use xlink:href="#icon-close-cross" />
    </svg>
    <label class="edit-problem-label">Bearbeiten</label>
  </div>
  <hr class="hr-head" />

  <div class="edit-problem-content">
    <div class="edit-problem-image-wrapper">
      <img
        src="https://dummyimage.com/600x400/000/fff"
        class="edit-problem-image"
      />
      <div class="edit-problem-image-gradient"></div>
    </div>

    <div class="text-input-wrapper">
      <label class="text-input-label label">Standort</label>
      <textarea
        class="text-input-input form-input"
        type="text">
      Neckarhalde 21, 74074 Heilbronn
      </textarea>
      <hr class="hr-form" />
      <label class="text-input-label label">Titel</label>
      <input
        class="text-input-input form-input"
        placeholder="Die Umkleide ist zu schmal für meinen Rollstuhl"
        type="text"
      />
      <hr class="hr-form" />
      <label class="text-input-label label">Beschreibung</label>
      <input
        class="text-input-input form-input"
        placeholder="Beschreibung des Problems Gemeinsam sind wir stark. Nimm Teil an unseren Challenges und mach deine Stadt Stück für Stück besser. Gemeinsam sind wir stark. Nimm Teil an unseren Challenges. "
        type="text"
      />

      <div class="edit-button-wrapper">
        <select class="dropdown button-left" name="category">
          <option value="Barrierefreiheit" selected>Barrierefreiheit</option>
          <option value="Vandalismus">Vandalismus</option>
          <option value="Umwelt">Umwelt</option>
        </select>
        <button class="button-primary">Speichern</button>
      </div>
    </div>
  </div>
</div>
