<div class="popover-wrapper" id="coming-soon">
  <div class="background-blur"></div>
  <div class="popover-content">
    <div class="popover-content-wrapper">
      <div>
        <svg aria-hidden="true" focusable="false" onclick="closeComingSoon();">
          <use xlink:href="#icon-close-circle" />
        </svg>
      </div>
      <!--  <img src = '../src/assets/img/calendar.png' alt="" /> -->
      <h2> Bald verfügbar!</h2>
        <p>Diese Funktion gibt es aktuell noch nicht, aber ganz bald.</p>
      <button onclick="closeComingSoon();" class="button-primary">Verstanden</button>
    </div>
  </div>
</div>

<app-navigation *ngIf="authService.userData as user"></app-navigation>
<!-- BITTE NICHT LÖSCHEN-->
<router-outlet></router-outlet>
