<!-- Tutorial https://www.remotestack.io/angular-firebase-firestore-real-time-crud-example-tutorial/ -->
  <div>
    <a href="#">RemoteStack Problem</a>
    <div id="navbarSupportedContent">
      <ul>
        <li>
          <a routerLink="/create-problem" routerLinkActive="active">Create Problem</a>
        </li>
        <li>
          <a routerLink="/list-problems" routerLinkActive="active">Show Problem</a>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <a href="#">RemoteStack Challenge</a>
    <div id="navbarSupportedContent">
      <ul>
        <li>
          <a routerLink="/create-challenge" routerLinkActive="active">Create Challenge</a>
        </li>
        <li>
          <a routerLink="/list-challenges" routerLinkActive="active">Show Challenge</a>
        </li>
      </ul>
    </div>
  </div>





<h1> App Component</h1>
<p> Alles was hier geschrieben wird, wird auf allen Seiten gezeigt </p>

<app-navigation></app-navigation>
<router-outlet></router-outlet>
