<div class="wrapper-galerie">
  <a href="javascript:history.back()">
    <svg class="icon-close-circle" aria-hidden="true" focusable="false">
      <use xlink:href="#icon-close-circle"/>
    </svg>
  </a>
  <div id="upvote-button" class="upvote-button-wrapper" onclick="upvoteUp(this)">
    <p class="text-upvote">936</p>
    <svg class="icon-upvote" aria-hidden="true" focusable="false">
      <use xlink:href="#icon-upvote"/>
    </svg>
  </div>
  <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="picsum-img-wrapper">
        <img class="img-gallery" [src]="image" alt="Random slide">
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="gallery-counter">
    <p class="p-info"> 1 / 3</p>
  </div>
</div>
