<a href="/willkommen-n">
  <svg class="icon-arrow-left" aria-hidden="true" focusable="false">
    <use xlink:href="#icon-arrow-left"/>
  </svg>
</a>
<h1>Willkommen zurück.</h1>
<form class="form-wrapper">
  <div class="form-group">
    <label class="text-input-label label" for="E-Mail">E-Mail</label>
    <input class="text-input-input form-input form-control" placeholder="Maria" type="email">
    <hr class="hr-form">
  </div>
  <div class="form-group">
    <label class="text-input-label label" for="E-Mail">Passwort</label>
    <input class="text-input-input form-input form-control" placeholder="Passwort" type="text">
    <hr class="hr-form">
  </div>
</form>
<p class="p-center">Noch keinen Account? <a href="/register-n" class="link">Registrieren</a></p>
<app-button
    [btnlink] = '"https://angular.io/guide/forms#build-the-form"'
    [type]='"button-primary button-fullwidth"'
    [btntext] = '"Einloggen"'
  >
</app-button>


