.achievement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
  svg.ribbon{
    stroke:$color-primary;
    margin: 0;
  }
}
.number-achievement {
  font-weight: 700;
  color: $color-primary;
  margin: 0 0 0 0.25em;
}
