.category-Umwelt{
  display: flex;
  align-items: center;
  margin: $xs-spacing 0;
  p{
    font-weight: 600;
    margin: 0;
    color: $color-minze-umwelt;
  }
  svg.icon-category-umwelt{
    display: inline;
    width: 1.8em;
    height: 1.5em;
    fill: $color-minze-umwelt;
    stroke: $color-minze-umwelt ;
    margin-right: 0.5em ;
  }
  svg.icon-category-vandalismus{
   display: none;
  }
  svg.icon-category-barrierefrei{
    display: none;
  }
}
.category-Vandalismus{
  display: flex;
  align-items: center;
  margin: $xs-spacing 0;
  p{
    font-weight: 600;
    margin: 0;
    color: $color-lilie-vandalismus;
  }
  svg.icon-category-umwelt{
    display: none;
  }
  svg.icon-category-vandalismus{
    display: inline;
    margin-right: 0.5em ;
    width: 22px;
    height: 22px;
    fill: $color-lilie-vandalismus;
    stroke: $color-lilie-vandalismus ;
  }
  svg.icon-category-barrierefrei{
    display: none;
  }
}
.category-Barrierefreiheit{
  display: flex;
  align-items: center;
  margin: $xs-spacing 0;
  p{
    font-weight: 600;
    margin: 0;
    color: $color-orange-barrierefrei;
  }
  svg.icon-category-umwelt{
    display: none;
  }
  svg.icon-category-vandalismus{
    display: none;
  }
  svg.icon-category-barrierefrei{
    display: inline;
    margin-right: 0.5em ;
    width: 12px;
    height: 18px;
    fill: $color-orange-barrierefrei;
    stroke: $color-orange-barrierefrei;
  }
}
.category-card-Umwelt{
  color: $color-minze-umwelt;
}
.category-card-Vandalismus{
  color: $color-lilie-vandalismus;
}
.category-card-Barrierefreiheit{
  color: $color-orange-barrierefrei;
}
