<div class="wrapper-profile-buttons">
  <a href="/profil">
    <button class="button-secondary button-left">Unternehmen</button>
  </a>
  <a href="/profil/privatperson">
    <button class="button-secondary">Privat</button>
  </a>
</div>

<div class="firstline">
    <div onclick="openComingSoon()">
      <svg aria-hidden="true" focusable="false" class="edit">
      <use xlink:href="#edit"/>
      </svg>
    </div>
    <div><b>Profil</b></div>
    <div onclick="openComingSoon()">
      <svg aria-hidden="true" focusable="false" class="setting">
      <use xlink:href="#setting"/>
      </svg>
    </div>
</div>

<div class="divroundpic">
  <img src="https://ais.badische-zeitung.de/piece/08/33/c6/10/137610768-h-720.jpg" alt="Profilbild" class="roundpicture">
</div>

<div class="profiltext">
  <div class="zeile" style="font-size: 14px;">
      <svg aria-hidden="true" focusable="false" class="locationnadel">
        <use xlink:href="#locationnadel"/>
      </svg>
      Heilbronn
  </div>
  <div *ngIf="authService.userData as user">
    <div>
      <h3 class="name-headline">
        {{user.displayName}}
      </h3>
    </div>
    <div class="ort" style="padding-top:3px;">
     {{user.email}}<br>
   </div>
  </div>
</div>

<div class="create-callenge-button-wrapper">
  <a href="/create-challenge">
    <button class="button-primary">+ Neue Challenge</button>
  </a>
</div>

<!-- <div>
  <button (click)=authService.SignOut()>Logout</button>
</div> -->



<div class="headline-links">
  <b>
    Für dich
  </b>
</div>

<div>
  <div class="boxes-grey">
    <div class="greybox box-color">
        <a onclick="openComingSoon()" class="link-in-profile" routerLink="/profil">Bevorstehende Challenges</a>
        <svg aria-hidden="true" focusable="false" class="arrow-left-profil">
        <use xlink:href="#arrow-left-profil"/>
        </svg>
    </div>
    <div class="greybox box-color">
      <a onclick="openComingSoon()" class="link-in-profile" routerLink="/profil">Vergangene Challenges</a>
      <svg aria-hidden="true" focusable="false" class="arrow-left-profil">
      <use xlink:href="#arrow-left-profil"/>
      </svg>
    </div>
  </div>
</div>

<div class="headline-links">
  <b>
    Organisation
  </b>
</div>

<div>
  <div class="boxes-grey">
    <div class="greybox box-color">
      <a class="link-in-profile" href="/faq">FAQ</a>
      <svg aria-hidden="true" focusable="false" class="arrow-left-profil">
      <use xlink:href="#arrow-left-profil"/>
      </svg>
    </div>
    <div class="greybox box-color">
      <a class="link-in-profile" href="/impressum">Impressum</a>
      <svg aria-hidden="true" focusable="false" class="arrow-left-profil">
      <use xlink:href="#arrow-left-profil"/>
      </svg>
    </div>
  <div class="button-logout-wrapper">
    <button (click)=authService.SignOut() class="button-secondary button-fullwidth button-logout">
      <svg aria-hidden="true" focusable="false" class="">
        <use xlink:href="#logout"/>
      </svg>
      Logout
    </button>
  </div>

        
  </div>
</div>
<div class="spacedown"></div>