<div class="firstline">
    <div>
      <a href="/profil/profil-bearbeiten"><svg aria-hidden="true" focusable="false" class="edit">
      <use xlink:href="#edit"/>
      </svg></a>
    </div>
    <div><b>Profil</b></div>
    <div>
      <a href="/profil/einstellungen"><svg aria-hidden="true" focusable="false" class="setting">
      <use xlink:href="#setting"/>
      </svg></a>
    </div>
</div>

<div class="divroundpic">
  <img src="https://ais.badische-zeitung.de/piece/08/33/c6/10/137610768-h-720.jpg" alt="Profilbild" class="roundpicture">
</div>

<div class="profiltext">
  <div class="zeile" style="font-size: 14px;">
      <svg aria-hidden="true" focusable="false" class="locationnadel">
        <use xlink:href="#locationnadel"/>
      </svg>
      Heilbronn
  </div>
  <div>
    <h3 class="name-headline">
      Unternehmen Mustermann
    </h3>
  </div>
  <div class="ort" style="padding-top:3px;">
    Mail-Adresse<br>
  </div>
</div>

<div class="button-neueva">
  <a href="/create-challenge">
    <app-button
      [btntext]="'+ Neue Veranstaltung'"
      [type]="'button-primary'">
    </app-button>
  </a>
</div>



<div class="headline-links">
  <b>
    Für dich
  </b>
</div>

<div>
  <div class="boxes-grey">
    <div class="greybox box-color">
        <p><a href="/challenges">Bevorstehende Veranstaltungen</a></p>
        <svg aria-hidden="true" focusable="false" class="arrow-left-profil">
        <use xlink:href="#arrow-left-profil"/>
        </svg>
    </div>
    <div class="greybox box-color">
      <p><a href="#">Vergangene Veranstaltungen</a></p>
      <svg aria-hidden="true" focusable="false" class="arrow-left-profil">
      <use xlink:href="#arrow-left-profil"/>
      </svg>
    </div>
  </div>
</div>

<div class="headline-links">
  <b>
    Organisation
  </b>
</div>

<div>
  <div class="boxes-grey">
    <div class="greybox box-color">
      <p><a href="/faq">FAQ</a></p>
      <svg aria-hidden="true" focusable="false" class="arrow-left-profil">
      <use xlink:href="#arrow-left-profil"/>
      </svg>
    </div>
    <div class="greybox box-color">
      <p><a href="/impressum">Impressum</a></p>
      <svg aria-hidden="true" focusable="false" class="arrow-left-profil">
      <use xlink:href="#arrow-left-profil"/>
      </svg>
    </div>
  </div>
</div>

<p><br><br><br><br><br><br></p>
