<div class="firstline">
    <div>
      <svg aria-hidden="true" focusable="false" class="edit">
      <use xlink:href="#edit"/>
      </svg>
    </div>
    <div><b>Profil</b></div>
    <div>
      <svg aria-hidden="true" focusable="false" class="setting">
      <use xlink:href="#setting"/>
      </svg>
    </div>
</div>

<div class="divroundpic">
  <img src="https://ais.badische-zeitung.de/piece/08/33/c6/10/137610768-h-720.jpg" alt="Profilbild" class="roundpicture">
</div>

<div class="profiltext">
  <div class="zeile">
      <svg aria-hidden="true" focusable="false" class="locationnadel">
        <use xlink:href="#locationnadel"/>
      </svg>
      Heilbronn
  </div>
  <div>
    <h3 style="margin-top:-2%; margin-bottom:0.5pt; text-align:center;">
      Unternehmen Mustermann
    </h3>
  </div>
  <div>
    Mail-Adresse<br>
  </div>
</div>

<div class="button-neueva">
  <app-button
  [btntext]="'+ Neue Veranstaltung'"
  [type]="'button-primary'">
  </app-button>
</div>
