a.button3 {
  display: inline-block;
  padding: 1em 2.5em;
  border-radius: 0.35em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Jost";
  color: #ffffff;
  background-color: #250c59;
  text-align: center;
  font-family: Jost;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.2s;
}
a.button3:hover {
  background-color: #e88e07;
}
