//Basic
$color-black: #333333;
$color-white: #ffffff;
$color-transparent: transparent;

//Grey
$color-grey-1: #131313;
$color-grey-2: #4F4F4F;
$color-grey-3: #828282;
$color-grey-4: #BDBDBD;
$color-grey-5: #E0E0E0;
$color-grey-6: #F2F2F2;

//Primary
$color-primary-light: #BCB3D1;
$color-primary: #250C59;
$color-primary-dark: #08001A;

//Secondary
$color-secondary-light: #FFE0B3;
$color-secondary: #E88E07;
$color-secondary-dark: #BF7000;

//Categories
$color-minze-umwelt: #93E59B;
$color-lilie-vandalismus: #D6CEFF;
$color-orange-barrierefrei: #FFD393;
$color-yellow-klima: #F9EA9A;

