<div class="form-container">
  <!-- LEGENDE -->
  <div class="form-legende">
    <svg aria-hidden="true" class="form-iconclose-cross" focusable="false">
      <use xlink:href="#icon-close-cross" />
    </svg>
    <label class="create-challange-label">Challenge hinzufügen</label>
  </div>
  <hr class="form-hr-head hr-up" />

  <!-- CONTENT -->
  <div>
    <!-- IMAGE -->
    <div class="form-add-image-wrapper">
      <svg aria-hidden="true" class="form-add-image" focusable="false">
        <use xlink:href="#add" />
      </svg>
      <label class="label">Bild hinzufügen</label>
    </div>
    <hr class="form-hr-head hr-down" />
    <!-- FORM INPUT -->
    <form [formGroup]="challengeForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-input-wrapper">
        <input
          type="file"
          (change)="startUpload($event.target.files)">

        <div *ngIf="(snapshot | async) as snap">
          <div *ngIf="downloadURL as url">
            <img [src]="url"><br>
          </div>
        </div>

        <label class="form-input-label label">Standort</label>
        <input
          type="text"
          formControlName="location"
          placeholder="Wo findet die Challenge statt"
          class="form-control"
          required
        />
        <hr class="hr-form" />
        <label class="form-input-label label">Titel</label>
        <input
          type="text"
          formControlName="title"
          placeholder="Gib der Challenge ein Titel"
          class="form-control"
          required
        />
        <hr class="hr-form" />
        <label class="form-input-label label">Beschreibung</label>
        <input
          type="text"
          formControlName="description"
          placeholder="Beschreibe die Challenge"
          class="form-control"
          required
        />
        <hr class="hr-form" />
        <label class="text-input-label label">Challenge-Setter</label>
        <input
          type="text"
          formControlName="setter"
          placeholder="Veranstalter der Challenge"
          class="form-control"
          required
        />

        <hr class="hr-form" />
        <label class="form-input-label label">Checkliste für Teilnehmer</label>
        <input
          type="text"
          formControlName="description"
          placeholder="Was brauchen die Teilnehmer"
          class="form-control"
          required
        />
        <hr class="hr-form" />
        <label class="text-input-label label">Eventtag</label>
        <input
          id="challengeDate"
          type="date"
          class="form-control"
          min="2021-05-31"
          formControlName="eventDate"
        />

        <!-- DATEPICKER NGB -->
        <!-- <input type="text"
          ngbDatepicker #d="ngbDatepicker"
          placeholder="Wann findet die Challenge statt?"
          class="form-control"
          bsDatepicker
          [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY' }"> -->

        <!--
          <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="dpicker" placeholder="Wähle den Tag des Events">
            <mat-datepicker-toggle matSuffix [for]="dpicker"></mat-datepicker-toggle>
            <mat-datepicker #dpicker></mat-datepicker>
          </mat-form-field>
          -->
        <hr class="hr-form" />
        <label class="text-input-label label">Uhrzeit</label>
        <input type="time" class="form-control" formControlName="eventTime" />
        <!-- <div class="ngx-timepicker-field-example">
            <ngx-timepicker-field [format]="24" [defaultTime]="'12:00'"></ngx-timepicker-field>
          </div> -->

        <!-- BUTTONS -->
        <div class="form-button-wrapper">
          <select
            class="dropdown form-button-left"
            Name="category"
            formControlName="category"
            required
          >
            <option value="Barrierefreiheit" selected>Barrierefreiheit</option>
            <option value="Vandalismus">Vandalismus</option>
            <option value="Umwelt">Umwelt</option>
          </select>
          <button class="button-primary" onclick="getDate();">Speichern</button>
        </div>
      </div>
    </form>
  </div>

  <!-- <script>
  var dateNoFormat = document.getElementById(challengeDate);
  function printOut(){
    return console.log("It works");
  };
</script>
-->
  <button onclick="getDate();">This is text</button>
</div>

