<div class="wrapper-nav">
  <a class="nav-item nav-item-active" href="#">
    <svg aria-hidden="true" focusable="false">
      <use xlink:href="#icon-map"/>
    </svg>
    <p class="nav-item-text"> Map</p>
  </a>
  <a class="nav-item nav-item-active" href="#">
    <svg aria-hidden="true" focusable="false">
      <use xlink:href="#icon-challenge"/>
    </svg>
    <p class="nav-item-text">Challenge</p>
  </a>
  <a class="nav-item" href="#">
    <svg aria-hidden="true" focusable="false">
      <use xlink:href="#icon-profile"/>
    </svg>
    <p class="nav-item-text">Profile</p>
  </a>
</div>
