<div class="wrapper-nav">
  <div class="wrapper-nav-items">
    <a id="btn-probleme" onclick="setProblemeActive()" class="nav-item nav-item-active" routerLink="/probleme">
      <svg aria-hidden="true" focusable="false">
        <use xlink:href="#icon-map"/>
      </svg>
      <p class="nav-item-text">Probleme</p>
    </a>
    <a id="btn-challenges" onclick="setChallengesActive()" class="nav-item" routerLink="/challenges">
      <svg aria-hidden="true" focusable="false">
        <use xlink:href="#icon-challenge"/>
      </svg>
      <p class="nav-item-text">Challenges</p>
    </a>
    <a id="btn-profil" onclick="setProfilActive()" class="nav-item" routerLink="/profil">
      <svg aria-hidden="true" focusable="false">
        <use xlink:href="#icon-profile"/>
      </svg>
      <p class="nav-item-text">Profil</p>
    </a>
  </div>
</div>
