@import "src/sass/0-base/colors.scss";

.wrapper-nav{
  background-color: $color-primary ;
  height: auto;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.wrapper-nav-items{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.25em;
}

.nav-item{
  color: white;
  text-decoration:none ;
  display: flex;
  align-items: center;
  flex-direction: column;
  svg{
    height: 24px;
    width: 24px;
    stroke: white;
  }

}
.nav-item-text{
  display: none;
}

.nav-item-active{
  svg{
    stroke: $color-secondary;
    fill: $color-secondary;
  }
  .nav-item-text{
    display: inline;
    color: $color-secondary;
    margin: 0.25em 0 0 0;
  }
}

#icon-challenge{
  height: 30px;
  width: 20px;
}
