@import "src/sass/0-base/colors.scss";

.text-input-wrapper {
  display: flex;
  flex-direction: column;
}

.text-input-label {
  border: none;
  height: 1.5em;
}



::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $color-lilie-vandalismus;
  
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: $color-lilie-vandalismus;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: $color-lilie-vandalismus;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: $color-lilie-vandalismus;
}
