@import "src/sass/styles.scss";

.text-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.text-input-label {
  border: none;
}

.text-input-input {
  box-shadow: none;
  border: none;
  height: 1.5em;
}

.text-input-input:focus {
  color: $color-black;
  outline-color: transparent;
  outline-style: none;
}
.hr-form{
  margin-top: $xs-spacing 0 $xs-spacing 0 !important;
}
