<section class="intro-list-view">
  <h1>Aktuell gibt es {{ProblemCount}} Probleme</h1>
  <p>Los geht's! Such Dir ein Problem aus, löse es und sammele Social Points!</p>
</section>


<app-add-content></app-add-content>
<app-card-probleme *ngFor="let problem of Problems; let i=index"
[titleProblem]="problem.title"
[descriptionProblem]="problem.description"
[categoryProblem]="problem.category"
[locationProblem]="problem.location"
[votesProblem]="problem.votes"
[id]="problem.id"
[statusvotesProblem]="problem.statusvotes"
[downloadURL]="problem.downloadURL"
[solution]="problem.solution"
></app-card-probleme>

<!-- Damit Einträge nicht unter der Navi verschwinden-->
<div class="spacedown"></div>
