<h3>app-card-challenge</h3>
<hr />
<app-card-challenge></app-card-challenge>
<hr />

<h3>app-create-challenge</h3>
<hr />
<app-create-challenge></app-create-challenge>
<hr />

<h3>app-edit-challenge</h3>
<hr />
<app-edit-challenge></app-edit-challenge>
<hr />

<h3>app-list-challenge</h3>
<hr />
<app-list-challenge></app-list-challenge>
<hr />

<h3>app-list-problem</h3>
<hr />
<app-list-problem></app-list-problem>
<hr />

<h3>app-button</h3>
<hr />
<app-button> </app-button>
<app-button
  [btntext]="'HAllo jetzt funktionierts'"
  [type]="'button-primary'"
></app-button>

<app-button
  [btntext]="'btntext'"
  [btnlink]="'btnlink'"
  [type]="'button-secondary'"
></app-button>
<hr />

<h3>app-button-icon</h3>
<hr />
<app-button-icon [btntext]="'Hallo'"></app-button-icon>
<hr />


<app-dropdown></app-dropdown>

<h3>app-regular-button</h3>
<hr />
<app-regular-button
[text]="'Hallo'"
></app-regular-button>
<hr />

<h3>app-card-probleme</h3>
<hr />
<app-card-probleme></app-card-probleme>
<hr />


<h3>app-edit-problem</h3>
<app-edit-problem>
</app-edit-problem>
<hr />

<br />
<br /><br /><br /><br /><br /><br /><br /><br />
