<h3>app-card-challenge</h3>
<hr>
<app-card-challenge></app-card-challenge>
<hr>

<h3>app-create-challenge</h3>
<hr>
<app-create-challenge></app-create-challenge>
<hr>

<h3>app-edit-challenge</h3>
<hr>
<app-edit-challenge></app-edit-challenge>
<hr>

<h3>app-list-challenge</h3>
<hr>
<app-list-challenge></app-list-challenge>
<hr>

<h3>app-list-problem</h3>
<hr>
<app-list-problem></app-list-problem>
<hr>

<h3>app-button</h3>
<hr>
<app-button
[btntext]="'btntext'"
[btnlink]="'btnlink'"
[type]="'secondary'"
></app-button>

<app-button
[btntext]="'btntext'"
[btnlink]="'btnlink'"
[type]="'primary'"
></app-button>
<hr>

<h3>app-button-icon</h3>
<hr>
<app-button-icon></app-button-icon>
<hr>


<h3>app-card-probleme</h3>
<hr>
<app-card-probleme></app-card-probleme>
<hr>

<br>
<br><br><br><br><br><br><br><br>

