<div class="wrapper-card">
  <div class="intro-wrapper">
    <svg class="icon-star" aria-hidden="true" focusable="false">
      <use xlink:href="#icon-star"/>
    </svg>
    <img class="img-probleme" alt="Bild vom Problem" src={{downloadURL}}/>
    <div id="upvote-button" class="upvote-button-wrapper" (click)="upvote($event)">
      <div class="number-upvote">
        {{votesProblem}}
      </div>
      <p class="text-upvote">{{statusvotesProblem}}</p>
    </div>
  </div>
  <p class="location-problem">{{locationProblem}} · <span> {{categoryProblem}} </span></p>
  <h3 class="titel-problem">{{titleProblem}}</h3>

</div>
